
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Philo</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Mind</a></li>
          <li><a href="#/truths">Truths</a></li>
           <% if (username !== null) { %>
            <li><a class="logout" href="#">Logout</a></li> 
  <% }; %>
      </div><!--/.nav-collapse -->
    </div>
  </div>