<div class="artist-profile">
  <div class="artist-profile-header">
     <div class="artist-profile-information">
       <div class="artist-profile-art"></div>
       <div class="artist-profile-description">
         <span class="artist-profile-name">Richard Barret</span>
         <div class="artist-profile-bio">
           (`’·.¸ (`’·.¸*¤*¸.·’`)¸.·’`) <br />
           ♫♫ MusicIsTheAnswer♫♫ <br />
           (¸.·’´ (¸.·’´*¤*´’·.¸)´’·.¸)
         </div>
       </div>
    
     </div>
 
  </div>
  
  <div class="artist-profile-menu-container">
    <ul class="artist-profile-menu">
      <li><a href="">News</a></li>
      <li><a href="">Tracks</a></li>
      <li><a href="">Events</a></li>
      <li><a href="">Gallery</a></li>
      <li><a href="">Shop</a></li>
    </ul>
    <div style="clear: both;"></div>
  </div>
  
  
  <div class="artist-profile-stream">
  
  <h3>Something</h3>
  <p>More stuff goes here</p>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  </div>
</div>
